- if (games.length > 0)
    -each game in games
        li
            a #{game}
            -if (game === currentGame)
                a(href='#',game=game) Leave
            -else
                a(href='#',game=game) Join
- else
    li
        p No game found