script(type='text/javascript', src='../lib/statemachine.js')
script(type='text/javascript', src='../lib/jsgamesoup.js')
script(type='text/javascript', src='../lib/jquery-1.7.1.js')
script(type='text/javascript', src='../lib/hammer.js')



label Select a file:
    input(type='file' ,id='fileSelect')
br

div(id='surface', style="width:1024px; height: 786px; margin-left: auto; margin-right: auto;border-width:1px;border-style:solid;")

script(type='text/javascript', src='../js/jade/createArena.js')