h2 Lobby
 #games
  ul(id='list')

  #currentGame
 p
  ul(id='charactersInGame')

 #join
  button(id='createGame') Create
 #start
  button(id='startGame') Start currently joined game
 script(type='text/javascript', src='js/jade/lobby.js')



