extends layout

block head
     script(type='text/javascript', src='js/jade/newCharacter.js')

block content
    h2 New character

    h3 Class: Warrior

    h3 Name:
        input(id='name')

    #button
        button(id='create') Create

    #back
        a(href="/start" )
            p Back to character selection screen


